.wrapper {
    height: 100%;

    .cart {
        min-height: 1200px;

        .container {
            .cart__head {
                font-family: 'Pacifico', cursive;
                font-size: 30px;
                line-height: 53px;
                color: #D74C4C;
            }

            .cart__item {
                display: flex;
                margin-bottom: 50px;

                .item__info {
                    display: flex;

                    .item__img {
                        width: 250px;
                        height: 250px;
                    }

                    .info__text {
                        margin-left: 40px;
                        height: auto;

                        .info__name {
                            margin: 0;
                            font-family: 'Pacifico', cursive;
                            font-size: 30px;
                            line-height: 53px;
                            color: #D74C4C;
                        }

                        .info__description {
                            font-family: 'Roboto', sans-serif;
                            font-size: 22px;
                            line-height: 26px;
                            color: #000000;
                            margin: 16px 0;
                        }

                        .product__check {
                            font-family: 'Roboto', sans-serif;
                            font-size: 22px;
                            display: flex;
                            width: 300px;
                            justify-content: space-between;
                            margin-top: 90px;

                            .check__price {
                                .price__name {
                                    font-weight: 700;
                                }

                                .price__number {}
                            }

                            .check__counter {
                                .counter__name {
                                    font-weight: 700;
                                }

                                input {
                                    width: 45px;
                                    text-align: center;
                                    margin-left: 5px;

                                }
                            }
                        }
                    }
                }

                .item__delete {
                    cursor: pointer;
                    margin-top: 24px;
                }
            }


            .cart_discont-total_price {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                .discount_word {
                    display: flex;
                    align-items: flex-end;

                    .discount_word_input {
                        display: flex;
                        flex-direction: column;

                        label {
                            font-family: 'Roboto', sans-serif;
                            font-size: 18px;
                        }

                        input {
                            display: block;
                            width: 100%;
                            background: none;
                            border: 1px solid #b17c2c;
                            border-radius: 10px;
                            padding: 8px 0px;
                            text-align: center;
                            color: #232323;
                            outline: none;
                        }
                    }

                    .discount_word_button {
                        font-family: 'Roboto', sans-serif;
                        font-size: 14px;
                        color: #FFFFFF;
                        background: #D74C4C;
                        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
                        transition: all 0.3s;
                        padding: 18px 20px;
                        outline: none;
                        border: none;
                        line-height: 0;
                        cursor: pointer;
                        margin-left: 5px;

                        &:hover {
                            background: #ec7575;
                        }
                    }
                }

                .total_price {
                    font-family: 'Roboto', sans-serif;
                    font-size: 24px;

                    span {
                        font-weight: 700
                    }
                }
            }

            .cart__buttons {
                display: flex;
                justify-content: space-between;
                padding: 50px 0 50px 0;

                .continue__button {
                    text-decoration: none;
                    font-family: 'Roboto', sans-serif;
                    font-size: 14px;
                    line-height: 25px;
                    color: #FFFFFF;
                    background: #D74C4C;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
                    padding: 0;
                    transition: all 0.3s;
                    padding: 13px 90px;

                    &:hover {
                        background: #ec7575;
                    }
                }
            }
        }
    }

    .buy_form {
        .container {
            .buy_form__head {
                font-family: 'Pacifico', cursive;
                font-size: 30px;
                line-height: 53px;
                color: #D74C4C;
            }

            .buy_form__description {
                font-family: 'Roboto', sans-serif;
                font-size: 22px;
                line-height: 26px;
                color: #000000;
                margin: 16px 0;

                span {
                    font-weight: 700;
                }
            }

            form {
                .form_name {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin: 25px 0 0 0;

                    label {
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        line-height: 26px;
                        color: #000000;
                        position: relative;
                        display: inline-block;

                        &::after {
                            content: '*';
                            font-size: 16px;
                            left: 233px;
                            top: 0;
                            color: red;
                            position: absolute;
                        }
                    }

                    input {
                        display: block;
                        width: 100%;
                        background: none;
                        border: 1px solid #b17c2c;
                        border-radius: 10px;
                        padding: 16px 0px;
                        margin-bottom: 5px;
                        text-align: center;
                        color: #232323;
                        outline: none;
                    }
                }

                .form_mail {
                    display: inline-flex;
                    flex-direction: column;
                    width: 45%;
                    margin: 25px 9% 25px 0;


                    label {
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        line-height: 26px;
                        color: #000000;
                        position: relative;
                        display: inline-block;

                        &::after {
                            content: '*';
                            font-size: 16px;
                            left: 146px;
                            top: 0;
                            color: red;
                            position: absolute;
                        }
                    }

                    input {
                        display: block;
                        width: 100%;
                        background: none;
                        border: 1px solid #b17c2c;
                        border-radius: 10px;
                        padding: 16px 0px;
                        margin-bottom: 5px;
                        text-align: center;
                        color: #232323;
                        outline: none;
                    }
                }

                .form_phone {
                    display: inline-flex;
                    flex-direction: column;
                    width: 45%;
                    margin: 25px 0;


                    label {
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        line-height: 26px;
                        color: #000000;
                        position: relative;
                        display: inline-block;

                        &::after {
                            content: '*';
                            font-size: 16px;
                            left: 228px;
                            top: 0;
                            color: red;
                            position: absolute;
                        }
                    }

                    input {
                        display: block;
                        width: 100%;
                        background: none;
                        border: 1px solid #b17c2c;
                        border-radius: 10px;
                        padding: 16px 0px;
                        margin-bottom: 5px;
                        text-align: center;
                        color: #232323;
                        outline: none;
                    }
                }

                .form_adress {
                    display: flex;
                    flex-direction: column;
                    margin: 0 0 25px 0;


                    label {
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        line-height: 26px;
                        color: #000000;
                    }

                    input {
                        display: block;
                        width: 100%;
                        background: none;
                        border: 1px solid #b17c2c;
                        border-radius: 10px;
                        padding: 16px 0px;
                        margin-bottom: 5px;
                        text-align: center;
                        color: #232323;
                        outline: none;
                    }
                }

                .form_comment {
                    display: flex;
                    flex-direction: column;
                    margin: 25px 0;


                    label {
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        line-height: 26px;
                        color: #000000;
                    }

                    textarea {
                        display: block;
                        width: 100%;
                        background: none;
                        border: 1px solid #b17c2c;
                        border-radius: 10px;
                        padding: 16px 0px;
                        margin-bottom: 5px;
                        text-align: center;
                        color: #232323;
                        outline: none;
                    }
                }

                .form__buttons {
                    display: flex;
                    justify-content: space-between;
                    margin: 25px 0 50px 0;

                    label {
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        line-height: 26px;
                        color: #000000;
                    }

                    input {
                        text-decoration: none;
                        font-family: 'Roboto', sans-serif;
                        font-size: 14px;
                        line-height: 25px;
                        color: #FFFFFF;
                        background: #D74C4C;
                        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
                        padding: 0;
                        transition: all 0.3s;
                        padding: 13px 70px;
                        border: none;
                        cursor: pointer;

                        &:hover {
                            background: #ec7575;
                        }
                    }
                }
            }
        }
    }
}