.delivery {
    .container {
        .delivery__head {
            font-family: 'Pacifico', cursive;
            font-size: 30px;
            line-height: 53px;
            color: #D74C4C;
            margin: 30px 0 0 0;
        }

        .delivery__description {
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            line-height: 28px;
            color: #000000;
            margin: 30px 0 0 0;
        }

        .delivery__img {
            margin: 50px auto;
            display: block;
            max-width: 100%;
        }
    }
}