@media (max-width: 1400px) {
    .container {
        width: 850px;
    }

    .header {

        .container {

            .header__logo {
                margin-top: 22px;


                .logo__img {
                    width: 90px;
                    height: 35px;
                }
            }

            .header__navlist {

                .navlist__item {

                    .navlist__dropdown_1 {
                        font-size: 14px;

                        .dropdown__item {

                            &:first-child {}

                            &:last-child {}

                            .dropdown__link {
                                font-size: 14px;


                                &:hover {}
                            }
                        }
                    }

                    &:hover {
                        .navlist__dropdown_1 {}
                    }

                    .navlist__dropdown_2 {


                        .dropdown__item {

                            &:first-child {}

                            &:last-child {}

                            .dropdown__link {
                                font-size: 14px;


                                &:hover {}
                            }
                        }
                    }

                    &:hover {
                        .navlist__dropdown_2 {}
                    }

                    .navlist__link {
                        font-size: 14px;

                        &:hover {}
                    }
                }
            }

            .header__action-buttons {

                padding-left: 34px;

                .actions-buttons__list {
                    width: 80px;
                    padding-left: 0;

                    .action-buttons__item {
                        .action-buttons__link {
                            .link__img {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                }
            }

            .header__contact {
                width: 193px;
                margin-left: 30px;

                .contact__text {
                    font-size: 12px;
                }

                .contact__phone {
                    font-size: 14px;
                }
            }
        }
    }

    .info {

        .container {
            background-position: initial;

            .info__content {
                padding-left: 266px;

                .info__head {
                    font-size: 56px;
                }

                .info__first {
                    font-size: 16px;
                }

                .info__second {
                    font-size: 16px;
                }

                .info__form {

                    .form__name {

                        label {}

                        input[type="text"] {

                            &::placeholder {}
                        }
                    }

                    .form__phone {

                        label {}

                        input[type="text"] {

                            &::placeholder {}
                        }
                    }

                    input[type="button"] {

                        &:hover {}
                    }
                }
            }
        }
    }

    .categories {
        .container {
            .categories__list {

                .categories__item {

                    width: 30%;
                    background-position: center;

                    &:hover {}

                    &:first-child {}


                    &:nth-child(2) {
                        width: 40%;
                    }

                    &:nth-child(3) {}

                    &:nth-child(4) {
                        width: 50%;
                    }

                    &:nth-child(5) {
                        width: 50%;
                    }

                    .categories__link {

                        .categories__text {}
                    }
                }
            }
        }
    }

    .slider__catalog {

        .container {
            .slider {

                .slider__screen {
                    .slider__list {

                        .slider__item {
                            width: 30%;
                            height: 335px;

                            &:hover {}

                            .link__content {

                                .content__left {
                                    margin-left: 10px;

                                    .left__name {
                                        font-size: 14px;
                                    }

                                    .left__price {
                                        font-size: 14px;
                                    }
                                }

                                .content__right {


                                    .right__button {
                                        margin: 47px 0 0 18px;

                                        &:hover {}
                                    }

                                }
                            }

                        }
                    }

                    .slider__button {
                        margin-left: 614px;
                        padding: 10px 80px;
                        font-size: 18px;

                        &:hover {}
                    }
                }
            }
        }

        .prev {
            left: 170px;
            font-size: 26px;
        }

        .next {
            left: 470px;
            font-size: 26px;
        }

        .slick-list {
            height: 918px;
        }
    }

    .advantages {

        .container {

            .advantages__head {
                font-size: 26px;
            }

            .advantages__list {

                .advantages__item {
                    .item__img {
                        width: 60px;
                        height: 60px;
                    }

                    .item__text {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    footer {
        .container {

            .footer__logo {
                margin-left: 20px;

                .footer__logo_link {
                    .logo__link {
                        width: 150px;
                        height: 60px;
                    }
                }


                .logo__text {
                    font-size: 22px;
                }

                .logo__list {

                    .logo__item {
                        .social__link {
                            font-size: 16px;
                        }
                    }
                }
            }

            .footer__catalog {
                margin-left: 100px;

                .catalog__name {
                    font-size: 24px;
                }

                .catalog__list {

                    .calatog__item {

                        .catalog__link {
                            font-size: 16px;
                        }
                    }
                }
            }

            .footer__about {
                margin-left: 100px;

                .about__name {
                    font-size: 24px;
                }

                .about__list {

                    .about__item {

                        .about__link {
                            font-size: 16px;
                        }
                    }
                }
            }

            .footer__contacts {
                margin-left: 100px;

                .contacts__text {
                    font-size: 24px;
                }

                .contacts__phone {
                    font-size: 18px;
                }

                .contacts__email {
                    font-size: 18px;
                }
            }
        }
    }


    // PAGE__CATALOG



    // PAGE__CATALOG

}

@media (max-width: 992px) {
    .container {
        width: 700px;
    }

    .header {

        .container {
            display: flex;
            justify-content: space-between;

            .header__logo {
                margin-top: 22px;


                .logo__img {
                    width: 90px;
                    height: 35px;
                }
            }

            .header__navlist {
                display: none;

                .navlist__item {

                    .navlist__dropdown_1 {
                        font-size: 14px;

                        .dropdown__item {

                            &:first-child {}

                            &:last-child {}

                            .dropdown__link {
                                font-size: 14px;


                                &:hover {}
                            }
                        }
                    }

                    &:hover {
                        .navlist__dropdown_1 {}
                    }

                    .navlist__dropdown_2 {


                        .dropdown__item {

                            &:first-child {}

                            &:last-child {}

                            .dropdown__link {
                                font-size: 14px;


                                &:hover {}
                            }
                        }
                    }

                    &:hover {
                        .navlist__dropdown_2 {}
                    }

                    .navlist__link {
                        font-size: 14px;

                        &:hover {}
                    }
                }
            }

            .header__action-buttons {
                display: none;

                padding-left: 34px;

                .actions-buttons__list {
                    width: 80px;
                    padding-left: 0;

                    .action-buttons__item {
                        .action-buttons__link {
                            .link__img {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                }
            }

            .header__contact {
                display: none;
                width: 193px;
                margin-left: 30px;

                .contact__text {
                    font-size: 12px;
                }

                .contact__phone {
                    font-size: 14px;
                }
            }



            // MOBILE

            .header__mobile {
                display: block;

                .burger__menu {
                    span {}
                }

                nav {

                    .mobile__social-nav {
                        .social-nav__item {
                            .social-nav__link {
                                .nav__link-img {}
                            }
                        }
                    }

                    .mobile__contacts {
                        .contact__text {}

                        .contacts__link {}

                    }

                    .mobile__nav-list {
                        .nav-list__item {
                            .nav-list__link {}
                        }
                    }
                }
            }

            // MOBILE



        }
    }

    .info {

        .container {
            background-position: initial;
            position: relative;

            .info__content {
                margin: 0 auto;
                padding: 0;
                text-align: left;
                width: 100%;

                .info__head {
                    width: 100%;
                    font-size: 56px;
                    margin-top: 50px;
                }

                .info__first {
                    width: 50%;
                    font-size: 16px;
                    margin: 28px 0 0 0;
                }

                .info__second {
                    font-size: 16px;
                    width: 50%;
                    margin-top: 12px;
                }

                .info__form {
                    display: flex;
                    flex-direction: column;
                    width: 40%;
                    position: absolute;
                    top: 40%;
                    right: 0;


                    .form__name {
                        margin: 0 auto;

                        label {}

                        input[type="text"] {

                            &::placeholder {}
                        }
                    }

                    .form__phone {
                        margin: 8px auto;

                        label {}

                        input[type="text"] {

                            &::placeholder {}
                        }
                    }

                    input[type="button"] {
                        margin: 15px auto 0;

                        &:hover {}
                    }
                }
            }
        }
    }

    .categories {
        .container {
            .categories__list {

                .categories__item {

                    width: 100%;
                    background-position: center;
                    background-size: cover;
                    height: 350px;
                    margin: 0 auto 20px;

                    &:hover {
                        transform: scale(1);
                    }

                    &:first-child {
                        width: 100%;
                    }


                    &:nth-child(2) {
                        width: 100%;
                    }

                    &:nth-child(3) {
                        width: 100%;
                    }

                    &:nth-child(4) {
                        width: 100%;
                    }

                    &:nth-child(5) {
                        width: 100%;
                        margin-bottom: 0;
                    }

                    .categories__link {

                        .categories__text {
                            padding-top: 290px;
                        }
                    }
                }
            }
        }
    }

    .slider__catalog {

        .container {
            .slider {

                .slider__screen {
                    .slider__list {

                        .slider__item {
                            width: 30%;
                            height: 282px;

                            &:hover {}



                            .link__content {

                                .content__left {
                                    margin-left: 8px;

                                    .left__name {
                                        font-size: 12px;
                                    }

                                    .left__price {
                                        font-size: 12px;
                                    }
                                }

                                .content__right {
                                    width: 104px;



                                    .right__button {
                                        margin-left: 15px;
                                        font-size: 12px;

                                        &:hover {}
                                    }
                                }
                            }
                        }
                    }

                    .slider__button {
                        margin-left: 471px;
                        padding: 10px 80px;
                        font-size: 16px;

                        &:hover {}
                    }
                }
            }
        }

        .prev {
            left: 110px;
            font-size: 26px;
        }

        .next {
            left: 400px;
            font-size: 26px;
        }

        .slick-list {
            height: 812px;
        }
    }

    .advantages {

        .container {

            .advantages__head {
                font-size: 26px;
            }

            .advantages__list {

                .advantages__item {
                    .item__img {
                        width: 50px;
                        height: 50px;
                    }

                    .item__text {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    footer {
        .container {

            .footer__logo {
                text-align: center;
                margin-left: 0;

                .footer__logo_link {
                    .logo__link {
                        width: 150px;
                        height: 60px;
                    }
                }


                .logo__text {
                    font-size: 20px;
                    margin-top: 20px;
                }

                .logo__list {

                    .logo__item {
                        .social__link {}
                    }
                }
            }

            .footer__catalog {
                margin-left: 60px;

                .catalog__name {
                    font-size: 22px;
                    margin-bottom: 0;
                }

                .catalog__list {
                    margin-top: 10px;

                    .calatog__item {
                        margin-bottom: 6px;

                        .catalog__link {
                            font-size: 14px;
                        }
                    }
                }
            }

            .footer__about {
                margin-left: 60px;

                .about__name {
                    font-size: 22px;
                    margin-bottom: 0;
                }

                .about__list {
                    margin-top: 10px;

                    .about__item {
                        margin-bottom: 6px;
                        width: 88px;

                        .about__link {
                            font-size: 14px;
                        }
                    }
                }
            }

            .footer__contacts {
                margin-left: 60px;

                .contacts__text {
                    font-size: 22px;
                    margin-bottom: 12px;
                }

                .contacts__phone {
                    font-size: 16px;
                }

                .contacts__email {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 500px;
    }

    .header {

        .container {

            .header__logo {


                .logo__img {}
            }

            .header__navlist {

                .navlist__item {

                    .navlist__dropdown_1 {

                        .dropdown__item {

                            &:first-child {}

                            &:last-child {}

                            .dropdown__link {


                                &:hover {}
                            }
                        }
                    }

                    &:hover {
                        .navlist__dropdown_1 {}
                    }

                    .navlist__dropdown_2 {


                        .dropdown__item {

                            &:first-child {}

                            &:last-child {}

                            .dropdown__link {


                                &:hover {}
                            }
                        }
                    }

                    &:hover {
                        .navlist__dropdown_2 {}
                    }

                    .navlist__link {

                        &:hover {}
                    }
                }
            }

            .header__action-buttons {
                .actions-buttons__list {

                    .action-buttons__item {
                        .action-buttons__link {}
                    }
                }
            }

            .header__contact {


                .contact__text {}

                .contact__phone {}
            }



            // MOBILE

            .header__mobile {
                display: block;

                .burger__menu {
                    span {}
                }

                nav {
                    width: 40%;

                    .mobile__social-nav {
                        padding-left: 10px;

                        .social-nav__item {
                            .social-nav__link {
                                .nav__link-img {}
                            }
                        }
                    }

                    .mobile__contacts {
                        .contact__text {}

                        .contacts__link {}

                    }

                    .mobile__nav-list {
                        .nav-list__item {
                            .nav-list__link {}
                        }
                    }
                }
            }

            // MOBILE



        }
    }

    .info {

        .container {


            .info__content {

                width: 100%;

                .info__head {
                    width: 100%;
                    font-size: 52px;
                }

                .info__first {
                    width: 50%;
                    font-size: 14px;
                }

                .info__second {
                    font-size: 14px;
                    width: 50%;
                    margin-bottom: 12px;
                }

                .info__form {
                    top: 28%;

                    .form__name {

                        label {}

                        input[type="text"] {

                            &::placeholder {}
                        }
                    }

                    .form__phone {

                        label {}

                        input[type="text"] {

                            &::placeholder {}
                        }
                    }

                    input[type="button"] {

                        &:hover {}
                    }
                }
            }
        }
    }

    .categories {
        .container {
            .categories__list {

                .categories__item {

                    width: 100%;


                    &:hover {
                        transform: scale(1);
                    }

                    &:first-child {
                        width: 100%;
                    }


                    &:nth-child(2) {
                        width: 100%;
                    }

                    &:nth-child(3) {
                        width: 100%;
                    }

                    &:nth-child(4) {
                        width: 100%;
                    }

                    &:nth-child(5) {
                        width: 100%;
                    }

                    .categories__link {

                        .categories__text {
                            padding-top: 290px;
                        }
                    }
                }
            }
        }
    }

    .slider__catalog {

        .container {
            .slider {

                .slider__screen {
                    .slider__list {

                        .slider__item {
                            width: 45%;
                            height: 295px;

                            &:hover {}



                            .link__content {

                                .content__left {
                                    margin-left: 8px;

                                    .left__name {
                                        font-size: 12px;
                                    }

                                    .left__price {
                                        font-size: 12px;
                                    }
                                }

                                .content__right {

                                    .right__button {
                                        margin-left: 25px;
                                        font-size: 12px;

                                        &:hover {}
                                    }
                                }
                            }
                        }
                    }

                    .slider__button {
                        margin-left: 277px;
                        padding: 10px 80px;
                        font-size: 16px;

                        &:hover {}
                    }
                }
            }
        }

        .prev {
            left: 0;
            font-size: 26px;
        }

        .next {
            left: 278px;
            font-size: 26px;
        }

        .slick-list {
            height: 1170px;
        }
    }

    .advantages {

        .container {

            .advantages__head {
                font-size: 26px;
            }

            .advantages__list {
                flex-wrap: wrap;
                justify-content: space-around;

                .advantages__item {
                    width: 33%;
                    margin-bottom: 20px;

                    .item__img {
                        width: 50px;
                        height: 50px;
                    }

                    .item__text {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    footer {
        .container {
            flex-wrap: wrap;

            .footer__logo {
                width: 50%;
                margin: 0;
                text-align: left;

                .footer__logo_link {
                    .logo__link {
                        width: 150px;
                        height: 60px;
                    }
                }


                .logo__text {
                    font-size: 20px;
                    margin-top: 20px;
                }

                .logo__list {
                    width: 148px;
                    padding-left: 0;


                    .logo__item {
                        .social__link {
                            font-size: 16px;
                        }
                    }
                }
            }

            .footer__catalog {
                width: 50%;
                margin: 0;
                text-align: left;

                .catalog__name {
                    font-size: 24px;
                    margin-bottom: 0;
                }

                .catalog__list {
                    margin-top: 10px;

                    .calatog__item {
                        margin-bottom: 6px;

                        .catalog__link {}
                    }
                }
            }

            .footer__about {
                width: 50%;
                margin: 0;
                text-align: left;

                .about__name {
                    font-size: 24px;
                    margin-bottom: 0;
                }

                .about__list {
                    margin-top: 10px;

                    .about__item {
                        margin-bottom: 6px;
                        width: 100%;

                        .about__link {}
                    }
                }
            }

            .footer__contacts {
                width: 50%;
                margin: 0;
                text-align: left;

                .contacts__text {
                    font-size: 24px;
                }

                .contacts__phone {
                    font-size: 16px;
                }

                .contacts__email {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 370px;
        margin: 0 auto;
    }

    .header {

        .container {

            .header__logo {


                .logo__img {}
            }

            .header__navlist {

                .navlist__item {

                    .navlist__dropdown_1 {

                        .dropdown__item {

                            &:first-child {}

                            &:last-child {}

                            .dropdown__link {


                                &:hover {}
                            }
                        }
                    }

                    &:hover {
                        .navlist__dropdown_1 {}
                    }

                    .navlist__dropdown_2 {


                        .dropdown__item {

                            &:first-child {}

                            &:last-child {}

                            .dropdown__link {


                                &:hover {}
                            }
                        }
                    }

                    &:hover {
                        .navlist__dropdown_2 {}
                    }

                    .navlist__link {

                        &:hover {}
                    }
                }
            }

            .header__action-buttons {
                .actions-buttons__list {

                    .action-buttons__item {
                        .action-buttons__link {}
                    }
                }
            }

            .header__contact {


                .contact__text {}

                .contact__phone {}
            }



            // MOBILE

            .header__mobile {

                .burger__menu {
                    span {}
                }

                nav {
                    width: 60%;

                    .mobile__social-nav {
                        padding-left: 10px;

                        .social-nav__item {
                            .social-nav__link {
                                .nav__link-img {}
                            }
                        }
                    }

                    .mobile__contacts {
                        .contact__text {}

                        .contacts__link {}

                    }

                    .mobile__nav-list {
                        .nav-list__item {
                            .nav-list__link {}
                        }
                    }
                }
            }

            // MOBILE



        }
    }

    .info {

        .container {

            .info__content {


                .info__head {
                    width: 100%;
                    text-align: center;
                    margin-top: 0;
                    height: 100px;
                }

                .info__first {
                    width: 90%;
                    margin: 0 auto;
                }

                .info__second {
                    width: 90%;
                    margin: 15px auto 0;
                }

                .info__form {
                    width: 100%;
                    position: static;
                    margin-top: 25px;

                    .form__name {
                        flex-direction: row;
                        width: 55%;

                        label {
                            margin-right: 15px;
                        }

                        input[type="text"] {

                            &::placeholder {}
                        }
                    }

                    .form__phone {
                        flex-direction: row;

                        label {
                            margin-right: 15px;
                        }

                        input[type="text"] {

                            &::placeholder {}
                        }
                    }

                    input[type="button"] {
                        width: 67%;
                        margin-top: 0;

                        &:hover {}
                    }
                }
            }
        }
    }

    .categories {
        .container {
            .categories__list {

                .categories__item {

                    width: 100%;


                    &:hover {
                        transform: scale(1);
                    }

                    &:first-child {
                        width: 100%;
                    }


                    &:nth-child(2) {
                        width: 100%;
                    }

                    &:nth-child(3) {
                        width: 100%;
                    }

                    &:nth-child(4) {
                        width: 100%;
                    }

                    &:nth-child(5) {
                        width: 100%;
                    }

                    .categories__link {

                        .categories__text {
                            padding-top: 290px;
                        }
                    }
                }
            }
        }
    }

    .slider__catalog {

        .container {
            .slider {

                .slider__screen {
                    .slider__head {
                        display: block;
                    }

                    .slider__list {

                        .slider__item {
                            width: 45%;
                            height: 206px;

                            &:hover {}



                            .link__content {
                                display: flex;
                                flex-direction: column;

                                .content__left {
                                    margin: 0;
                                    text-align: center;

                                    .left__name {
                                        font-size: 12px;
                                        margin-top: 8px;
                                    }

                                    .left__price {
                                        font-size: 12px;
                                        margin-top: 3px;
                                    }
                                }

                                .content__right {
                                    margin-top: 6px;
                                    height: auto;
                                    width: 100%;

                                    .right__button {
                                        font-size: 12px;
                                        margin: 0 0 0 18px;

                                        &:hover {}
                                    }
                                }
                            }

                        }
                    }

                    .slider__button {
                        margin-left: 13px;
                        padding: 10px 80px;
                        font-size: 16px;

                        &:hover {}
                    }
                }
            }
        }

        .prev {
            left: 0;
            font-size: 26px;
        }

        .next {
            left: 278px;
            font-size: 26px;
        }

        .slick-list {
            height: 930px;
        }

        .slick-slide {
            transform: scale(0.7);
            z-index: 1;
            transition: transform 0.3s ease-in-out;
            margin-right: 0;
        }

        .slick-center {
            transform: scale(1);
            z-index: 1000;
        }

        .slick-slide:not(.slick-current) {
            filter: brightness(0.5);
        }

        .slick-slide.slick-current {
            transform: scale(1);
            z-index: 1;
        }

    }


    .advantages {
        padding: 70px 0 100px;

        .container {

            .advantages__head {
                font-size: 26px;
            }

            .advantages__list {
                flex-wrap: wrap;
                justify-content: space-between;

                .advantages__item {
                    width: 45%;
                    margin-bottom: 20px;

                    .item__img {
                        width: 50px;
                        height: 50px;
                    }

                    .item__text {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    footer {
        .container {
            flex-wrap: wrap;

            .footer__logo {
                width: 100%;
                margin: 0;
                text-align: center;

                .footer__logo_link {
                    .logo__link {
                        width: 150px;
                        height: 60px;
                    }
                }


                .logo__text {
                    font-size: 20px;
                    margin-top: 20px;
                }

                .logo__list {
                    width: 148px;
                    padding-left: 0;
                    margin: 0 auto;


                    .logo__item {
                        .social__link {
                            font-size: 16px;
                        }
                    }
                }
            }

            .footer__catalog {
                width: 100%;
                margin: 0;
                text-align: center;

                .catalog__name {
                    font-size: 24px;
                    margin-bottom: 0;
                }

                .catalog__list {
                    margin-top: 10px;

                    .calatog__item {
                        margin-bottom: 6px;

                        .catalog__link {}
                    }
                }
            }

            .footer__about {
                width: 100%;
                margin: 0;
                text-align: center;

                .about__name {
                    font-size: 24px;
                    margin-bottom: 0;
                }

                .about__list {
                    margin-top: 10px;

                    .about__item {
                        margin-bottom: 6px;
                        width: 100%;

                        .about__link {}
                    }
                }
            }

            .footer__contacts {
                width: 100%;
                margin: 0;
                text-align: center;

                .contacts__text {
                    font-size: 24px;
                }

                .contacts__phone {
                    font-size: 16px;
                }

                .contacts__email {
                    font-size: 16px;
                    padding-bottom: 25px;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .container {
        width: 310px;
        margin: 0 auto;
    }

    .info {

        .container {
            background-position-x: -100px;


            .info__content {



                .info__head {}

                .info__first {}

                .info__second {}

                .info__form {


                    .form__name {
                        width: 66%;

                        label {}

                        input[type="text"] {

                            &::placeholder {}
                        }
                    }

                    .form__phone {

                        label {}

                        input[type="text"] {

                            &::placeholder {}
                        }
                    }

                    input[type="button"] {
                        width: 81%;

                        &:hover {}
                    }
                }
            }
        }
    }

    .slider__catalog {

        .container {
            .slider {

                .slider__screen {
                    .slider__list {

                        .slider__item {
                            height: 190px;


                            &:hover {}




                            .link__content {


                                .content__left {

                                    .left__name {
                                        text-align: center;
                                        margin-top: 5px;
                                    }

                                    .left__price {
                                        margin-top: 6px;
                                    }
                                }

                                .content__right {
                                    margin-top: 3px;


                                    margin-left: 6px;

                                    .right__button {
                                        padding: 1px 6px;
                                        font-size: 10px;
                                        margin: 5px 0 0 10px;

                                        &:hover {}
                                    }
                                }
                            }
                        }
                    }

                    .slider__button {
                        margin-left: 0px;
                        padding: 10px 66px;
                        font-size: 16px;

                        &:hover {}
                    }
                }
            }
        }

        .prev {
            left: 0;
            font-size: 26px;
        }

        .next {
            left: 278px;
            font-size: 26px;
        }

        .slick-list {
            height: 890px;
        }

        .slick-slide {
            transform: scale(0.7);
            z-index: 1;
            transition: transform 0.3s ease-in-out;
            margin-right: 0;
        }

        .slick-center {
            transform: scale(1);
            z-index: 1000;
        }

        .slick-slide:not(.slick-current) {
            filter: brightness(0.5);
        }

        .slick-slide.slick-current {
            transform: scale(1);
            z-index: 1;
        }

    }
}