.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;


    .sing-in {

        .container {

            .sing-in__head {
                font-family: 'Pacifico', cursive;
                font-size: 28px;
                line-height: 49px;
                color: #D74C4C;
                text-align: center;
            }

            .sing-in__form {
                display: flex;
                flex-direction: column;
                max-width: 560px;
                margin: 0 auto;

                .form__email {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 30px;

                    label {
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        line-height: 19px;
                        color: #111111;
                        margin-bottom: 10px;
                    }

                    input {
                        max-width: 100%;
                        border: 2px solid #D74C4C;
                        background-color: transparent;
                        padding: 14px;
                    }
                }

                .form__password {
                    display: flex;
                    flex-direction: column;

                    label {
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        line-height: 19px;
                        color: #111111;
                        margin-bottom: 10px;
                    }

                    input {
                        max-width: 100%;
                        border: 2px solid #D74C4C;
                        background-color: transparent;
                        padding: 14px;
                    }
                }


                .form__buttons {
                    margin-top: 30px;
                    display: flex;
                    justify-content: space-between;

                    input {
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        line-height: 19px;
                        color: #FFFFFF;
                        background: #D74C4C;
                        cursor: pointer;
                        outline: none;
                        border: none;
                        padding: 10px 82px;
                    }
                }

            }
        }
    }
}